mixin navitem(item)
	if item.items
		+dropdown(item)
	else
		a.navbar-item(href= item.page)= item.title

mixin dropdown(item)
	div.navbar-item.has-dropdown.is-hoverable
		a.navbar-link= item.title

		div.navbar-dropdown
			each link in item.items
				+navitem(link)

mixin hero(title, subtitle, size, bold)
	case size
		when 'small'
			.hero.is-primary
				+heroBody(title, subtitle)

		when 'large'
			div(class=`hero is-primary is-${size}`)
				+heroBody(title, subtitle)
		
		default
			.hero.is-primary.is-medium
				+heroBody(title, subtitle)

mixin heroBody(title, subtitle)
	.hero-body
		.container
			h1.title.is-2= title
			if subtitle
				p.subtitle= subtitle

mixin paragraphList(list)
	each paragraph in list
		!= markdown(paragraph)

mixin autosection(data)
	.section
		.container
			.content
				h2= data.title

				+paragraphList(data.paragraphs)

mixin autosections(sections)
	each section in sections
		+autosection(section)

mixin section(section)
	.section
		.container
			.content
				!= markdown(section)

mixin sections(sections)
	each section in sections
		+section(section)

mixin majorSections(sections)
	each section in sections
		+majorSection(section)

mixin majorSection(section)
	.section: .container.narrow
		figure.image.is-128x128.header-icon
			img(src=section.image alt=section.title)
		.content.is-size-5
			h2.is-size-3.has-text-centered= section.title
			
			+paragraphList(section.paragraphs)
			
		if section.readMore
			+readMore(section.readMore.content, section.readMore.link)

mixin readMore(content, link)
	a.content.boxlink.is-pulled-right(href=link)
		b.is-size-5 Read more
		p= content

		span.icon.is-pulled-right
			i.iconify(data-icon='mdi:arrow-right' width='100%')