extends layout
include includes/index/tiles
include includes/index/person

block homeButton

block content
	+hero(local.hero.title, local.hero.subtitle)

	.section.is-medium#intro-munidollar: .container
		h2.title.is-3= local.intro.supertitle
		h1.title.is-1= local.intro.title
	
	.section: .container.point.has-text-centered
		p.is-size-4= local.introPoint

	.section: .container.key: .content.is-size-5
		+paragraphList(local.overview)
	
	+majorSections(local.users)

	.section: .container.key.endpoint
		figure.image.is-128x128.header-icon
			img(src=local.moreThanMoney.image alt='Munidollars symbol')

		.content.has-text-centered
			h1= local.moreThanMoney.title

			.is-size-5
				+paragraphList(local.moreThanMoney.paragraphs)

	.section.has-background-white-ter.bg-logo-white: .container: .content
		h1= local.about.title
		+paragraphList(local.about.paragraphs)

	.section
		.container.wide
			.content
				h1= local.team.title

			.tile.is-ancestor
				each member in local.team.members
					+person(member)

