extends layout
include includes/index/tiles
include includes/index/person
include includes/index/major

block homeButton

block footerButton

block content
	+hero(local.hero.title, local.hero.subtitle)

	.section: .container: .box: .content
		.tags
			span.tag.is-info
				span.iconify(data-icon='ic:baseline-location-on', height='1.25em')
				| City of Berkeley

		h1(style="margin-top: 0px;") The Berkeley Bucks Proposal
		p Flux is excited to announce Berkeley Bucks! Berkeley Bucks are a Munidollar proposal for the City of Berkeley.

		a.button.is-link(href='/files/Flux Response.pdf')
			span.icon
				i.iconify(data-icon='ic:baseline-insert-drive-file')
			span View the proposal

	.section.is-medium#intro-munidollar: .container
		h2.title.is-3= local.intro.supertitle
		h1.title.is-1= local.intro.title
	
	.section: .container.lead.has-text-centered
		p.is-size-4= local.introPoint

	.section: .container.major: .content.is-size-5
		+paragraphs(local.overview)
	
	+majorSections(local.users)

	.section: .container.major.endpoint
		figure.image.is-128x128.header-icon
			img(src=local.moreThanMoney.image alt='Munidollars symbol')

		.content.has-text-centered
			h1= local.moreThanMoney.title

			.is-size-5
				+paragraphs(local.moreThanMoney.paragraphs)

	.section.has-background-white-ter.bg-logo: .container: .content
		h1= local.about.title
		+paragraphs(local.about.paragraphs)

	.section
		.container.wide
			.content
				h1= local.team.title

			.tile.is-ancestor
				each member in local.team.members
					+person(member)

